/*
   ____  _         _                         
  / ___|| |_ _   _| | ___  ___   ___ ___ ___ 
  \___ \| __| | | | |/ _ \/ __| / __/ __/ __|
   ___) | |_| |_| | |  __/\__ \| (__\__ \__ \
  |____/ \__|\__, |_|\___||___(_)___|___/___/
             |___/                           
 
*/


/* ==========================================================================
   Root and body
*/

:root {
    --color-highlight: #007bff;
    --color-text: #565656;
}

body {
    margin: 0;
}


/* ==========================================================================
   Section: Header
*/

header {
    color: #ffffff;
    background-color: var(--color-highlight);
    margin-bottom: 4rem;
    padding: 4rem 0;
    text-align: center;
}

header h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
}

header h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

@media (max-width: 575px) {
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 1.125rem;
    }
}


/* ==========================================================================
   Section: About
*/

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

#about .about-img {
    width: 300px;
    margin: 0 2rem;
}

@media (min-width: 576px) and (max-width: 768px) {
    #about .about-img {
        margin-bottom: 2rem;
    }
}

@media (max-width: 575px) {
    #about .about-img {
        margin-bottom: 2rem;
    }
}

#about .about-img img {
    width: 266px;
    border-radius: 8px;
}

#about .about-text {
    width: 533px;
    margin: 0 2rem;
}

#about .about-text h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--color-highlight);
    margin-top: 0;
}

#about .about-text p {
    font-family: 'Arimo', sans-serif;
    line-height: 1.5rem;
    color: var(--color-text);
}


/* ==========================================================================
   Section: Contact
*/

#contact {
    background-color: var(--color-highlight);
    padding: 4rem 0;
}

#contact .contact-inner {
    width: 900px;
    margin: 0 auto;
}

@media (min-width: 576px) and (max-width: 768px) {
    #contact .contact-inner {
        width: 533px;
    }
}

@media (max-width: 575px) {
    #contact .contact-inner {
        width: 90%;
    }
}

#contact .contact-inner h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: #ffffff;
    margin-top: 0;
}

/* Begin form styles */

/* form label {
    display: block;
    font-weight: 400;
    color: #363636;
    margin: 0 0 1em 0;
} */

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
    -webkit-appearance: none;
    margin-bottom: 16px;
    border: 0;
    background: #f4f4f4;
    padding: 0.75em;
    width: 100%;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5rem;
    color: var(--color-text);
    border-radius: 4px;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    background: #f4f4f4;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form select {
    line-height: 1.35em;
}

form ::-webkit-input-placeholder {
    color: #999;
}

form :-moz-placeholder {
    color: #999;
}

form ::-moz-placeholder {
    color: #999;
}

form :-ms-input-placeholder {
    color: #999;
}

/* #wrapper-form {
    padding: 0;
}
.col-form {
    margin: 6px 0 0;
} */

button, input[type="submit"] {
    font-size: inherit;
    font-family: 'Arimo', sans-serif;
    line-height: 1.5rem;
    color: var(--color-text);
    color: #ccc;
    text-transform: uppercase;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(246, 41%, 21%);
    overflow: hidden;
    /* transition: color 0.3s ease-in-out; */
    transition: background-color 0.25s ease-in-out;
}
button:hover, input[type="submit"]:hover {
    cursor: pointer;
    /* color: #ccc; */
    background-color: hsl(246, 41%, 38%);
}

/* End form styles */


/* ==========================================================================
   Section: Footer
*/

footer {
    padding: 4rem 0;
}

footer .social-links {
    text-align: center;
}

footer .social-links img {
    width: 48px;
    margin-right: 8px;
}

footer .dml-copyright {
    font-size: 1rem;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    color: var(--color-text);
}