/*
This file contains Bootstrap overrides.
These will eventually be compiled into the Bootstrap code
*/

a {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}